.header {
    background-image: url(../assets/img/asus01.png);
    text-align: center;
    padding: 0;
}

.topnav {
  list-style: none;
  margin:0;
  background: red;
  display: flex;
  justify-content: flex-start;
}

.topnav a {
  text-decoration: none;
  padding: 1em;
  display: block;
  color: white;
  left: 10px;
  right: 10px;
}

.topnav a:hover {
  background: #C00000;
}

@media all and (max-width: 600px) {
  .topnav {
    padding: 0;
    justify-content: space-around;
    border-top: 2px solid rgba(255,255,255,0.5);
    border-bottom: 2px solid rgba(0,0,0,0.5);
    width: 100%;
  }
  .topnav a{
    text-align: center;
    padding:10px;
    width: 100%;
  }
}

.creators{
  display: flex;
  justify-content: flex-end;
}

.creators em{
  color: white;
  line-height: 25px;
  margin: 25px;
}

.info{
  padding: 25px;
  padding-top: 1px;
  padding-bottom: 50px;
  background-image: url(../assets/img/asus01.png);
  text-align: center;
  size: 480px,720px;
}

.info em {
  font-size: 200%;
  font-style: bold;
  color: white;
}

.info h3{
  font-size: 300%;
  font-style: normal;
  color: white;
}

.back {
  padding-bottom: 50px;
  padding-top: 35px;
  text-align: center;
}
.back a{
  padding: 2px;
  text-decoration: none;
  font-size: 3em;
  font-style: normal;
  color: white;
  text-align: center;
  border-radius: 10px;
  background-color: darkgray;
}

body {
  position: relative;
  margin: 0px;
  width: 100%;
  height: 100%;
  background-color: black;
}
canvas{
  max-width: 100%;
  height: 75%;
  width: auto\9;
  display: block;
  margin: 0 auto;
}
